<!DOCTYPE html>
<html>
<head>
	<title>Add new</title>
</head>
<body>
	<h2>Add new shoe!</h2>
<div id='info'>
	<form action = '/shoes' method = 'post'>
		Brand: <input type= 'text' name='brand' id='brand'><br>
		Type: <input type='text' name='type' id='type'><br>
		Height: <input type='text' name='height' id='height'><br>
		Price: <input type='text' name='price' id='price'><br>
		<input type = 'submit' value ='Add Shoe!'>
	</form>
	<button><a href="/">View All Added Shoes</button>
</div>
</body>
</html>