<!DOCTYPE html>
<html>
<head>
	<title>Shoe Shoe</title>
</head>
<body>
<div id= "showContainer">
<table>
	<thead>
		<tr>
         	<th><b>Brand</th>
        	<th>Type of shoes</th>
          	<th>Heel Height</th>
          	<th>Price</b></th>
        </tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= data[0].brand %> </td>
			<td> <%= data[0].type%> </td>
			<td> <%= data[0].height%> </td>
			<td> <%= data[0].price%> </td>
		</tr>
	</tbody><br>
</table>
	<button><a href="/">View All Shoes</button>
</div>
</body>
</html>